<div class="container">
  <span class="username">WELCOME {{username | uppercase}}</span>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6 col-12  mb-5" *ngFor="let movie of movies">
      <div class="movie__card">
        <img class="movie__card-img-top" [ngClass]="movie.id">
        <div class="movie__card-body">
            <h5 class="movie__card-body-title">{{movie.name}}</h5>
            <button class="movie__card-body-button" (click)="bookMovie(movie)">Book Ticket</button>
        </div>
      </div>
    </div>
  </div>
</div>
