.bookingText {
  color: #f9f9f1;
  font-size: 25px;
  font-weight: 500;
  margin: 2% 0;
}

.infoTable {
  width: 100%;
  background-color: #2d3436;
  color: #dfe6e9;

  &_header {
    font-size: 18px;
    font-weight: 500;
    width: 25%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #2b2b2b;
  }

  &_data {
    width: 25%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
}



@media only screen and (max-width: 479px) {
  .bookingText {
    font-size: 15px;
  }

  .infoTable_header {
    font-size: 14px;
    padding: 5px;
  }

  .infoTable_data {
    font-size: 13px;
    padding: 5px;
  }
}
