<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="bookingText">
        <span style="vertical-align: super;">Your Bookings</span>
      </div>
    </div>
  </div>

  <table class="infoTable">
    <tr>
      <td class="infoTable_header">Movie Name</td>
      <td class="infoTable_header">Timing</td>
      <td class="infoTable_header">Persons</td>
      <td class="infoTable_header">Rupees</td>
    </tr>
    <tr>
      <td class="infoTable_data">
        <div [matTooltip]="name">{{name | slice:0:15}}</div>
      </td>
      <td class="infoTable_data">{{timing}}</td>
      <td class="infoTable_data">{{persons}}</td>
      <td class="infoTable_data">{{rupee}} Rs</td>
    </tr>
  </table>
</div>
