.logo{
  background-image: url('/src/assets/Images/logo.png');
}

.custom__navbar {
  background-color: #C70039ab;
  color: #fbfbfb;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: inline-flex;
  }

  &_logo {
    color: #f9f9f6;
    font-size: 30px;
    font-weight: bold;
    font-family: "Copse", serif;
    &:hover {
      cursor: pointer;
    }
  }

  .change__profile {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    width: 300px;
    padding: 15px;
    position: absolute;
    right: 13%;
    top: 60px;
    box-shadow: 1px 1px 5px #8f8f8f;
    border-radius: 8px;
    z-index: 1;

    &_image {
      text-align: center;
      background-color: #34495e;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0 auto 5px;
      position: relative;
      &-selected {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-icon {
        font-size: 45px;
        position: absolute;
        color: #f9f9f6;
        top: 0;
        left: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &_formDiv {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      background-color: transparent;
      bottom: 50%;
      right: 40%;
      &:hover {
        cursor: pointer;
      }
    }

    &_manage {
      border: 1px solid #dedede;
      border-radius: 20px;
      position: relative;
      top: 9px;
      padding-bottom: 8px;
      &:hover {
        cursor: pointer;
      }
    }

    &_logout {
      margin-top: 8px;
      &:hover{
        cursor: pointer;
      }
    }
  }

  &_profile {
    text-align: center;
    background-color: #34495e;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: auto;

    &_profileIcon {
      position: relative;
      top: -50px;
    }

    &:hover .change__profile {
      visibility: visible;
    }

    &_imgSelected {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_profileIcon {
      font-size: 45px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hide_nav {
  display: none;
}
