<div class="custom__navbar" [ngClass]="routeUrl.includes('/login') || routeUrl === '/signup' ? 'hide_nav' : ''">
  <div class="container">
    <div class="custom__navbar_logo">
      <div routerlink="/home">Movie Time</div>
    </div>
    <div class="custom__navbar_list">
      <div class="custom__navbar_list-items">Home</div>
      <div class="custom__navbar_list-items">About</div>
      <div class="custom__navbar_list-items">Contact</div>
    </div>
    <div class="custom__navbar_hamburger" (click)="openMobileMenuItems()">
      <i class="material-icons navbarIconsForMobile" *ngIf="!mobileMenuItems">
        menu
      </i>
      <i class="material-icons navbarIconsForMobile" *ngIf="mobileMenuItems">
        close
      </i>
    </div>
    <div class="custom__navbar_profile">
      <div class="custom__navbar_profile_imgSelected" [style.backgroundImage]="'url('+ imageContainer +')'"></div>
      <i class="material-icons custom__navbar_profile_profileIcon" *ngIf="iconShow">
        person_outline
      </i>
      <div class="change__profile">
        <div class="change__profile_image">
          <div class="change__profile_image-selected" [style.backgroundImage]="'url('+ imageContainer +')'"></div>
          <i class="material-icons change__profile_image-icon" *ngIf="iconShow">
            person_outline
          </i>
        </div>
        <div *ngIf="isLoggedIn" class="change__profile_formDiv" (click)="fileInput.click()">
          <form>
            <input type="file" accept="image/*" #fileInput (click)="fileInput.value = null"
              (change)="imageUpload($event)" style="display: none;">
            <i class="material-icons camera" *ngIf="isLoggedIn">
              camera_enhance
            </i>
          </form>
        </div>
        <div *ngIf="isLoggedIn">
          <div class="change__profile_name">
            {{username |titlecase}}
          </div>
          <div class="change__profile_manage" (click)="manageAccount()">
            Manage Your Account
          </div>
        </div>
        <!-- <div class="change_profile_booking" *ngIf="isLoggedIn" >
          Go to Bookings
        </div> -->
        <div *ngIf="!isLoggedIn">
          <button mat-raised-button class="change__profile-loginBtn" routerLink="/login">
            Log in
          </button>
          <span style="font-size: 23px;
          position: relative;
          top: 2px;
          left: 5px;"> / </span>
          <button mat-raised-button class="change__profile-signinBtn ml-2" routerLink="/signup">
            Sign up
          </button>
        </div>
        <div class="change__profile_logout" *ngIf="isLoggedIn" (click)=logout()>Log Out</div>
      </div>
    </div>
  </div>
</div>

<div class="navbar__list_phone" [@expandCollapse]="mobileMenuItems? 'expanded' : 'collapsed'">
  <div class="navbar__list_phone-items">Home</div>
  <div class="navbar__list_phone-items">About</div>
  <div class="navbar__list_phone-items">Contact</div>
</div>
