@mixin for_size($size) {
  @if $size == phone {
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  } @else if $size == ipad {
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      @content;
    }
  } @else if $size == ipadPro {
    @media only screen and (max-width: 1024px) and (min-width: 992px) {
      @content;
    }
  }
}

$colors: (
  primary_color: #34495e,
  secondary_color: #c70039ab
);

@function colors($color_name) {
  @return map-get($colors, $color_name);
}

$text_color: (
  dark_color_text: #2b2b2b,
  light_color_text: #f9f9f1
);

@function text-color($color_code) {
  @return map-get($text_color, $color_code);
}

.logo {
  background-image: url("/src/assets/Images/logo.png");
}

.custom__navbar {
  background-color: colors(secondary_color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: inline-flex;
  }

  &_logo {
    color: #f9f9f6;
    font-size: 30px;
    font-weight: bold;
    font-family: "Copse", serif;
    &:hover {
      cursor: pointer;
    }
  }

  &_list {
    margin-left: auto;
    display: inline-flex;
    margin-right: 1em;

    &-items {
      padding: 10px;
      font-size: 14px;
      color: text-color("light_color_text");
      -webkit-text-stroke-color: #fff;
      -webkit-text-stroke-width: 0.02em;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      -webkit-transition: background-size 0.5s
        cubic-bezier(0.67, 0.01, 0.15, 0.98);
      transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
      background-image: linear-gradient(
        135deg,
        #fff 0%,
        #fff 50%,
        transparent 50.1%
      );
      background-size: 0% 100%;
      &:hover {
        cursor: pointer;
        background-size: 220% 100%;
      }
    }

    @include for_size(phone) {
      display: none;
    }
  }

  &_hamburger {
    display: none;
    margin-left: auto;
    position: relative;
    top: 7px;
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
    }

    @include for_size(phone) {
      display: block;
    }
  }

  .change__profile {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    width: 300px;
    padding: 15px;
    position: absolute;
    right: 13%;
    top: 60px;
    box-shadow: 1px 1px 5px #8f8f8f;
    border-radius: 8px;
    z-index: 2;

    @include for_size(phone) {
      position: absolute;
      right: 1%;
    }

    &-loginBtn:hover,
    &-signinBtn:hover {
      background-color: colors(secondary_color);
      color: text-color(light_color_text);
    }

    &_name {
      font-weight: bold;
    }

    &_image {
      text-align: center;
      background-color: colors(primary_color);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0 auto 5px;
      position: relative;
      &-selected {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-icon {
        font-size: 45px;
        position: absolute;
        color: #f9f9f6;
        top: 0;
        left: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &_formDiv {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      background-color: #dcdcdc;
      top: 30%;
      right: 40%;
      &:hover {
        cursor: pointer;
      }

      .camera {
        font-size: 20px;
      }
    }

    &_manage {
      border: 1px solid #dedede;
      border-radius: 20px;
      position: relative;
      top: 9px;
      padding-bottom: 8px;
      &:hover {
        cursor: pointer;
      }
    }

    &_logout {
      margin-top: 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &_profile {
    text-align: center;
    background-color: colors(primary_color);
    border-radius: 50%;
    height: 50px;
    width: 50px;

    &_profileIcon {
      position: relative;
      top: -50px;
    }

    &:hover .change__profile {
      visibility: visible;
    }

    &_imgSelected {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_profileIcon {
      font-size: 45px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hide_nav {
  display: none;
}

.navbar__list_phone {
  position: absolute;
  z-index: 1;
  height: 100vh;
  background-color: #34495ed9;
  width: 100%;
  display: none;
  &-items {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 21% 0;
    font-weight: bold;
    font-size: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  @include for_size(phone) {
    display: block;
  }
}

.navbarIconsForMobile {
  font-size: 30px;
}
