<div class="custom__navbar" [ngClass]="routeUrl.includes('/login') || routeUrl === '/signup' ? 'hide_nav' : ''">
  <div class="container">
    <div class="custom__navbar_logo" routerlink="/home">
      <div>Movie Time</div>
    </div>
    <div class="custom__navbar_profile">
      <div class="custom__navbar_profile_imgSelected" [style.backgroundImage]="'url('+ imageContainer +')'"></div>
      <i class="material-icons custom__navbar_profile_profileIcon" *ngIf="iconShow">
        person_outline
      </i>
      <div class="change__profile">
        <div class="change__profile_image">
          <div class="change__profile_image-selected" [style.backgroundImage]="'url('+ imageContainer +')'"></div>
          <i class="material-icons change__profile_image-icon" *ngIf="iconShow">
            person_outline
          </i>
        </div>
        <div>{{username}}</div>
        <div class="change__profile_formDiv" (click)="fileInput.click()">
          <form>
            <input type="file" accept="image/*" #fileInput (click)="fileInput.value = null"
              (change)="imageUpload($event)" style="display: none;">
            <i class="material-icons camera">
              camera_enhance
            </i>
          </form>
        </div>
        <!-- <div class="navbar__accountDisplay-name">{{username | uppercase}}</div> -->
        <div class="change__profile_manage">
          Manage Your Account
        </div>
        <div class="change__profile_logout" (click)=logout()>Log Out</div>
      </div>
    </div>
  </div>
</div>
