<div class="bg">
  <div class="container">
    <div class="loginBox">
      <div class="loginBox__avatar">
        <i class="material-icons avatar">
          person_outline
        </i>
      </div>
      <form [formGroup]="loginform">
        <div class="errorMessage" *ngIf="loginform.errors">
          Please fill all input fields
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" formControlName="uname" />
          <div class="errorMessage" *ngIf="formcontrols.uname.touched && formcontrols.uname.invalid">
            <div *ngIf="formcontrols.uname.errors.required">
              **Please enter Username
            </div>
            <div *ngIf="formcontrols.uname.errors.minlength">
              **Username should be of atleast 5 characters
            </div>
            <div *ngIf="formcontrols.uname.errors.uname">
              **Please enter proper Username
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top: 10%;">
          <label for="password">Password</label>
          <input type="{{ type }}" id="password" class="form-control" formControlName="password" />
          <img src="https://img.icons8.com/color/24/000000/visible.png" class="eye" *ngIf="eyeOpen"
            (click)="toggleTextType()">
          <img src="https://img.icons8.com/color/24/000000/invisible.png" class="eye" *ngIf="eyeClose"
            (click)="toggleTextType()">
          <!-- <i class="material-icons eye" (click)="toggleTextType()">remove_red_eye</i> -->
          <div class="errorMessage" *ngIf="formcontrols.password.touched && formcontrols.password.invalid">
            <div *ngIf="formcontrols.password.errors.required">
              **Please enter passowrd
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12 col-md-12 col-12 text-center">
            <button mat-raised-button class="btn-block loginBtn" (click)="submit()">
              Login
            </button>
            <div *ngIf="errorMessage">
              we couldn't found your acount. Please make sure you are signed up.
            </div>
            <div style="margin: 20px 0 0">
              <a routerLink="/signup">Don't have an account?</a>
            </div>
            <div>
              <a href="#">Forgot Password?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
