label {
  color: #fff;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 20px;
}

.loginBox {
  width: 40%;
  margin: 15% auto 0;
  background-color: #00748b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 4% 3%;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 1px 10px #312f2f;

  &__avatar {
    border: 3px solid #00748b;
    position: relative;
    text-align: center;
    background-color: #9fffff;
    color: #000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    bottom: 48px;
    margin: 0 auto;

    .avatar {
      font-size: 90px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__error {
    margin-top: 1%;
    color: #e74c3c;
    letter-spacing: 1.5px;
  }
}

.form-control {
  background-color: transparent;
  border-bottom: 1px solid #dedede;
  color: #ecf0f1;
  font-weight: bold;
  border-top: none;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  letter-spacing: 2px;
  transition: all 0.6s;
  caret-color: rgba(0, 139, 139, 0.8);
  font-size: 22px;
  padding: 0;
  height: auto;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #1abc9c;
}

.form-control.ng-touched {
  border-bottom: 2px solid #e74c3c;
}
.form-control.ng-dirty.ng-invalid {
  border-bottom: 2px solid #e74c3c;
}

.form-control.ng-valid {
  border-bottom: 2px solid #2ecc71;
}

input[type="password"] {
  letter-spacing: 10px;
}

.has-error input {
  border-bottom: 2px solid #e74c3c;
  color: #e74c3c;
}

.errorMessage {
  margin-top: 1%;
  color: #f44336;
  font-size: 13px;
}

.eye {
  float: right;
  position: relative;
  bottom: 35px;
  color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.loginBtn {
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #9fffff;
  letter-spacing: 2px;
  transition: all 0.4s;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  color: #222f3e;
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #c8d6e5;
  }

  &:focus {
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  font-size: 14.5px;
  color: #ecf0f1;
  transition-duration: 1s;
  font-weight: normal;
  letter-spacing: 1.4px;
}

@media only screen and(max-width: 479px) and(min-width: 320px) {
  .loginBox {
    width: 100%;
    margin: 40% auto 0;
  }
}

@media only screen and(max-width: 1024px) and(min-width: 768px) {
  .loginBox {
    width: 80%;
    margin: 40% auto 0;
  }
}
