.loginBox {
	width: 40%;
	margin: 5% auto 0;
	background-color: aliceblue;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5% 4% 3% 4%;
	color: #000;
	font-weight: bold;
	border-radius: 15px;
}


h1:nth-child(1){
  font-weight: bold;
  letter-spacing: 3px;
}

.form-control {
	background-color: transparent;
	border-bottom: 1px solid #dedede;
	color: #000;
	font-weight: bold;
	border-top: none;
	border-left: 0;
	border-radius: 0;
	border-right: 0;
	letter-spacing: 2px;
	transition: all 0.6s;
	caret-color: rgba(0, 139, 139, 0.8);
}

.form-control:focus {
	box-shadow: none;
	border-bottom: 2px solid green;
}

.form-control.ng-touched {
	border-bottom: 2px solid red;
}
.form-control.ng-dirty.ng-invalid {
	border-bottom: 2px solid red;
}

.form-control.ng-valid {
	border-bottom: 2px solid #00cc00;
}

.has-error input {
	border-bottom: 2px solid red;
	color: red;
}
.eye {
	float: right;
	position: relative;
	bottom: 35px;
}

.eye:hover {
	cursor: pointer;
}

.loginBtn {
	letter-spacing: 2px;
	font-weight: 600;
	background-color: rgba(0, 139, 139, 0.8);
	letter-spacing: 2px;
	transition: all 0.4s;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
}

.loginBtn:hover {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

.loginBtn:focus {
	box-shadow: none;
}

.errorMessage {
	margin-top: 1%;
	background-color: antiquewhite;
	color: darkred;
}

a {
	text-decoration: none;
	font-size: 14.5px;
	color: rgba(0, 139, 139, 0.8);
	transition-duration: 1s;
}

a:hover {
	color: rgba(0, 0, 0, 0.7);
}



@media only screen and(max-width: 479px) and(min-width: 320px) {
	.loginBox {
		width: 100%;
		margin: 40% auto 0;
	}
}

@media only screen and(max-width: 1024px) and(min-width: 768px) {
	.loginBox {
		width: 80%;
		margin: 40% auto 0;
	}
}
