<div class="container">
  <div class="loginBox">
    <div class="loginBox__avatar">
      <i class="material-icons avatar">
        person_outline
      </i>
    </div>
    <form [formGroup]="signinForm">
      <div class="errorMessage" *ngIf="signinForm.errors">
        Please fill all input fields
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" />
        <div class="errorMessage" *ngIf="f.username.touched && f.username.invalid">
          <div *ngIf="f.username.errors.required">Please enter username</div>
          <div *ngIf="f.username.errors.minlength">
            Username should be atleast of 5 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="{{type}}" pattern="[a-zA-Z0-9]*" class="form-control" formControlName="password" />
        <img src="https://img.icons8.com/color/24/000000/visible.png" class="eye" *ngIf="eyeOpen"
          (click)="toggleText('password')">
        <img src="https://img.icons8.com/color/24/000000/invisible.png" class="eye" *ngIf="eyeClose"
          (click)="toggleText('password')">
        <div class="errorMessage" *ngIf="f.password.touched && f.password.invalid">
          <div *ngIf="f.password.errors.required">Please enter password</div>
          <div *ngIf="f.password.errors.minlength">
            password should be atleast of 5 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="{{conftype}}" class="form-control" formControlName="confirmPassword" />
        <img src="https://img.icons8.com/color/24/000000/visible.png" class="eye" *ngIf="eyeOpenRepass"
          (click)="toggleText('confpassword')">
        <img src="https://img.icons8.com/color/24/000000/invisible.png" class="eye" *ngIf="eyeCloseRepass"
          (click)="toggleText('confpassword')">
        <div class="errorMessage" *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid">
          <div *ngIf="f.confirmPassword.errors.required">
            Please confirm your password
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
            Passowrd is not matching.
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12 col-md-12 col-12 text-center">
          <button mat-raised-button class="btn-block loginBtn" (click)="submitForm()">
            Sign In
          </button>
          <div style="margin: 10px 0px">
            <a routerLink="/login">Already have an account?</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
