.container {
    background-color: #dedede;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
}

.form-control.ng-valid{
    border: 1px solid #00cc00;
}

.form-control:focus{
    box-shadow: none !important;
    border: 1px solid #000 !important;
}