<div class="bg">
  <p class="bg__para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quis quo laudantium voluptatibus
    facere expedita
    quidem, inventore vel deleniti consequatur culpa nostrum odio veniam sunt dolorum ad dignissimos soluta labore.
  </p>
  <p class="bg__para2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quis quo laudantium voluptatibus
    facere expedita
    quidem, inventore vel deleniti consequatur culpa nostrum odio veniam sunt dolorum ad dignissimos soluta labore.
  </p>
</div>
