<!-- <div class="bg" (mousemove)="coordinates($event)">
  <img src="/assets/Images/aquaman.jpeg" (click)="zoomIn()" id="img">
  <img [imageZoom]="zoomedImageSrc" src="/assets/Images/aquaman.jpeg" [style.width.px]="width" [style.height.px]="height">
  <p class="bg__para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quis quo laudantium voluptatibus
    facere expedita
    quidem, inventore vel deleniti consequatur culpa nostrum odio veniam sunt dolorum ad dignissimos soluta labore.
  </p>
  <p class="bg__para2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quis quo laudantium voluptatibus
    facere expedita
    quidem, inventore vel deleniti consequatur culpa nostrum odio veniam sunt dolorum ad dignissimos soluta labore.
  </p>
</div> -->
<!--
<div>
  <p class="type">Type: {{event?.type}}</p>
  <p>x: {{clientX}}, y: {{clientY}}</p>
</div> -->

<ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage></ngx-image-zoom>

