/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Copse&display=swap');
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #34495e;
  color: #fff;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

::-moz-selection {
  color: #fff;
  background: lightblue;
}

::selection {
  color: #fff;
  background: lightblue;
}

.mat-dialog-container{
  width: 75% !important;
  padding: 0 !important;
  margin: 0 auto !important;
}

@media only screen and (max-width: 479px) {
  .mat-dialog-container{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important;
  }
}
